{% extends "base.html" %}
{% block header %}
{{ super() }}
<style type="text/css">
    #about{ color: black;}
</style>
{% endblock %}
{% block content %}
<div class="about">
  <h1>About</h1>
  <p>Here we should write something about us</p>
</div>
{% endblock %}

