{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="add">
    <h1>Add product</h1>
    <form enctype="multipart/form-data" method="POST" action="{{url_for('add_product')}}">
        <label for="name">Name:</label><br>
        <input type="text" name="name" value="{{name}}" maxlength="40"><br>
        <label for="description">Description:</label><br>
        <textarea name="description" cols="40" rows="5" maxlength="150">{{description}}</textarea><br>
        <label for="contact">Contact:</label><br>
        <input type="text" name="contact" value="{{contact}}" maxlength="40"><br>
        <label for="price">Price:</label><br>
        <input type="number" step="0.01" name="price" value="{{price}}"><br>
        <label for="image">Image:</label><br>
        <input type="file" name="image" value="{{image}}"><br>
        <input id="submit" type="submit">
    </form>
    <p>{{message}}</p>
</div>
{% endblock %}