<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
    <title>My web shop</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p id="message">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block header %}
    <header>
        <h1>MY SHOP</h1>
        <a id="mainpage" href="{{url_for('index')}}">Main page</a>
        <a id="about" href="{{url_for('about')}}">About</a>
        <a id="catalogue" href="{{url_for('catalogue')}}">Catalogue</a>
        <a id="contact" href="{{url_for('contact')}}">Contact</a>
        {% if session.get("username") != None %}
        <a id="logout" href="{{url_for('logout')}}">Logout</a> 
        <a id="username" href="{{url_for('profile', user_username=session['username'])}}">{{session["username"]}}</a>
        {% else %}
        <a id="register" href="{{url_for('register')}}">Register</a>
        <a id="login" href="{{url_for('login')}}">Login</a>
        {% endif %}
    </header>
    {% endblock %}
    {% block content %}{% endblock %}
</body>
</html>