{% extends "base.html" %}
{% block header %}
{{ super() }}
<style type="text/css">
    #catalogue{ color: black;}
</style>
{% endblock %}
{% block content %}
<div class="add_button">
{% if session.get("username") != None %}
    <a href="{{url_for('add_product')}}">ADD<br>PRODUCT</a>
{% endif %}
    <form method="get" action="{{ url_for('catalogue', search=search) }}">
        <input id="submit" type="submit" value="Search">
        <input id="search" type="text" name="search", value="{{search}}">
    </form>
</div>
<div class="products">
    <table>
        <tr>
            <th>Number</th>
            <th>Date activated</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact</th>
            <th>Price(€)</th>
            <th>Image</th>
        </tr>
        {% for product in products %}
        <tr id="row">
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.Number}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.date_active.strftime("%d.%m.%Y.")}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.name}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.description}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.contact}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{"{:.2f}".format(product.price)}}€</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}"><img class="image" src="{{url_for('media', filename=product.image)}}"></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="pagination">
    {% for page_num in pagination.pages %}
        {% if page_num %}
            {% if page_num == pagination.page %}
                <a id="active">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('catalogue', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}