{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="add">
    <h1>Change password</h1>
    <form method="POST" action="{{url_for('change_password')}}">
        <label for="password">Old password:</label><br>
        <input type="password" name="password", value="{{password}}" maxlength="40"><br>
        <label for="new_password">New password:</label><br>
        <input type="password" name="new_password", value="{{new_password}}" maxlength="40"><br>
        <label for="retype_new_password">Retype new password:</label><br>
        <input type="password" name="retype_new_password", value="{{retype_new_password}}" maxlength="40"><br>
        <input id="submit" type="submit">
    </form>
    <p>{{message}}</p>
</div>
{% endblock %}