{% extends "base.html" %}
{% block header %}
{{ super() }}
<style type="text/css">
    #contact{ color: black;}
</style>
{% endblock %}
{% block content %}
<div class="contact">
  <h1>Contact</h1>
  <p>Here goes our contact information in case something goes wrong</p>
</div>
{% endblock %}