{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="details">
  <h1>Details</h1>
  <label>Product number:</label><br>
  <p>{{product.Number}}</p><br>
  <label>Product name:</label><br>
  <p>{{product.name}}</p><br>
  <label>Product added:</label><br>
  <p>{{product.date_added.strftime("%d.%m.%Y.")}}</p><br>
  <label>Product activated:</label><br>
  <p>{{product.date_active.strftime("%d.%m.%Y.")}}</p><br>
  <label>Expiry date:</label><br>
  <p>{{expiry_date}}</p><br>
  <label>Product description:</label><br>
  <p>{{product.description}}</p><br>
  <label>Product price:</label><br>
  <p>{{"{:.2f}".format(product.price)}}€</p><br>
  <label>Product contact:</label><br>
  <p>{{product.contact}}</p><br>
  <label>Product image:</label><br>
  <img src="{{url_for('media', filename=product.image)}}">
</div>
{% endblock %}