{% extends "base.html" %}
{% block header %}
{{ super() }}
<style type="text/css">
    #mainpage{ color: black;}
</style>
{% endblock %}
{% block content %}
<div class="index">
  <h1>Main page</h1>
  <p>We are an online sales site, all products published after 30 days are automatically deactivated, we currently have {{number_of_products}} products</p>
  {% if number_of_products > 0 %}
  <img src="{{url_for('static', filename = 'statistic/active_inacitve.png')}}">
  <img src="{{url_for('static', filename = 'statistic/added_by_days.png')}}">
  {% endif %}
</div>
{% endblock %}