{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="add">
    <h1>Login</h1>
    <form method="POST" action="{{url_for('login')}}">
        <label for="username">Username:</label><br>
        <input type="text" name="username" value="{{username}}" maxlength="40"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password", value="{{password}}" maxlength="40"><br>
        <input id="submit" type="submit" value="Login">
    </form>
    <p>{{message}}</p>
</div>
{% endblock %}