{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="add_button">
<a href="{{url_for('change_password')}}">CHANGE<br>PASSWORD</a>
{% if filter == None %}
<a id="active">ALL<br>PRODUCTS</a>
{% else %}
<a href="{{ url_for('profile', user_username=session['username'], filter=None) }}">ALL<br>PRODUCTS</a>
{% endif %}
{% if filter == "active" %}
<a id="active">ACTIVE<br>PRODUCTS</a>
{% else %}
<a href="{{ url_for('profile', user_username=session['username'], filter='active') }}">ACTIVE<br>PRODUCTS</a>
{% endif %}
{% if filter == "inactive" %}
<a id="active">INACTIVE<br>PRODUCTS</a>
{% else %}
<a href="{{ url_for('profile', user_username=session['username'], filter='inactive') }}">INACTIVE<br>PRODUCTS</a>
{% endif %}
</div>
<div class="products">
    <table>
        <tr>
            <th>Number</th>
            <th>Date activated</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact</th>
            <th>Price(€)</th>
            <th>Status</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        {% for product in products %}
        <tr id="row">
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.Number}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.date_active.strftime("%d.%m.%Y.")}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.name}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.description}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{product.contact}}</a></td>
            <td><a href="{{url_for('details', Number=product.Number)}}">{{"{:.2f}".format(product.price)}}€</a></td>
            {% if product.active %}
            <td><a href="{{url_for('details', Number=product.Number)}}">Active</a></td>
            {% else %}
            <td><a href="{{url_for('details', Number=product.Number)}}">Inactive</a></td>
            {% endif %}
            <td><a href="{{url_for('details', Number=product.Number)}}"><img class="image" src="{{url_for('media', filename=product.image)}}"></a></td>
            <td style="cursor: auto;">
                {% if product.active %}
                <a href="{{url_for('activate_deactivate', Number=product.Number)}}" style="cursor:pointer;">Deactivate</a><hr>
                {% else %}
                <a href="{{url_for('activate_deactivate', Number=product.Number)}}" style="cursor:pointer;">Activate</a><hr>
                {% endif %}
                <a href="{{url_for('delete', Number=product.Number)}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="pagination">
    {% for page_num in pagination.pages %}
        {% if page_num %}
            {% if page_num == pagination.page %}
                <a id="active">{{ page_num }}</a>
            {% else %}
                <a href="{{ url_for('profile', user_username=session['username'], page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}