{% extends "base.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="add">
    <h1>Register</h1>
    <form method="POST" action="{{url_for('register')}}">
        <label for="name">Name:</label><br>
        <input type="text" name="name" value="{{name}}" maxlength="40"><br>
        <label for="username">Username:</label><br>
        <input type="text" name="username" value="{{username}}" maxlength="40"><br>
        <label for="email">Email:</label><br>
        <input type="email" name="email", value="{{email}}" maxlength="40"><br>
        <label for="password">Password:</label><br>
        <input type="password" name="password", value="{{password}}" maxlength="40"><br>
        <label for="retype_password">Retype Password:</label><br>
        <input type="password" name="retype_password", value="{{retype_password}}" maxlength="40"><br>
        <input id="submit" type="submit", value="Register">
    </form>
    <p>{{message}}</p>
</div>
{% endblock %}