@keyframes flash{
    0% { color: black; }
    50% { color: white; }
    100% { color: black; }
  }

body{
    background-color: lightgrey;
}

header{
    display: block;
    padding: 60px;
    text-align: left;
    background: lightgreen;
    font-size: 30px;
}

header h1{
    color: gray;
    display: inline;
    padding-right: 45%;
    font-size: 30px;
    cursor: default;
}

header a{
    color: white;
    text-decoration: none;
    display: inline;
    padding-left: 20px;
}

header a:hover{
    color: black;
    cursor: pointer;
}

#message{
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 25px;
    animation: flash 1s infinite;
}

#content{
    display: block;
}

.index{
    text-align: center;
}

.index h1{
    font-size: 40px;
}

.index p{
    font-size: 20px;
}

.about{
    text-align: center;
}

.about h1{
    font-size: 40px;
}

.about p{
    font-size: 20px;
}

.contact{
    text-align: center;
}

.contact h1{
    font-size: 40px;
}

.contact p{
    font-size: 20px;
}

.add{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    font-size: large;
}

.add input{
    border-color: grey;
    border-radius: 5px 5px 5px 5px;
    width: 300px;
    margin-bottom: 40px;
    height: 30px;
}

.add input#submit{
    cursor: pointer;
}

.add textarea{
    border-color: grey;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 40px;
    resize: none;
}

.add label{
    text-align: center;
    width: auto;
}

.add_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.add_button form{
    text-align: end;
    display: block;
    align-items: end;
}

.add_button input#search{
    width: 20%;
    height: 20px;
    border-radius: 5px 5px 5px 5px;
    border-color: grey;
}

.add_button input#submit{
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    border-color: gray;
    background-color: silver;
    font-weight: bold;
}

.add_button a{
    align-items: center;
    margin-right: 30px;
    display: inline-flex;
    color: black;
    text-decoration: none;
    cursor:pointer;
}

.add_button a#active{
    color: silver;
    cursor: default;
}

.add_button a:hover{
    color: silver
}

.products{
    padding-top: 20px;
    display: block;
    width: 98%;
    margin-left: auto;
    margin-right: auto;

}
.products table{
    position: sticky;
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
}

.products th{
    border: 2px solid silver;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: hidden;
    border-right: hidden
}

#row td{
    border: 2px solid silver;
    text-overflow: ellipsis; 
    word-wrap: break-word;
    padding-left: 40px;
    padding-right: 40px;
    border-left: hidden;
    border-right: hidden
}

#row a{
    color: black;
    text-decoration: none;
    font-size: large;
}

#row:hover{
    background-color: darkgray;
    cursor: pointer;
}

.image{
    height: 100px;
}

.details{
    text-align: center;
    font-size: 25px;
}

.details label{
    font-weight: bolder;
}

.details img{
    max-width: 98%;
}

.pagination{
    display: flex;
    font-size: large;
    justify-content: center;
    margin-top: 20px;
}

.pagination a{
    text-decoration: underline;
    color: black;
    margin-right: 10px;
}

.pagination a:hover{
    color:silver;
}

.pagination a#active{
    color: black;
    font-weight: bolder;
}